modules = ["nodejs-20"]
[nix]
packages = ["unzipNLS"]

[[ports]]
localPort = 5173
externalPort = 3000
exposeLocalhost = true

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 42991363
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
